<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span th:text="${author}"></span>의 TODO List</h1>
<form action="#" th:action="@{/todo}" th:object="${todo}" method="post">
    <input type="text" th:field="*{title}">
    <input type="text" th:field="*{content}">
    <button type="submit">추가</button>
</form>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todoList}">
        <td th:text="${todo.title}">제목</td>
        <td th:text="${todo.content}">내용</td>
    </tr>
    </tbody>
</table>
</body>
</html>