<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span th:text="${author}"></span>의 TODO List</h1>
<form action="#" th:action="@{/todo}" th:object="${todo}" method="post">
    <input type="text" th:field="*{title}">
    <input type="text" th:field="*{content}">
    <button type="submit">추가</button>
</form>
<div th:each="todoi: ${todoList}">
    <form action="#" th:action="@{/todo}" th:object="${todo}" th:method="put">
        <div>
            <input type="text" th:name="title" th:value="${todoi.title}">
        </div>
        <div>
            <input type="text" th:name="content" th:value="${todoi.content}">
        </div>
        <input type="hidden" name="id" th:value="${todoi.id}">
        <button type="submit">수정</button>
    </form>
    <form th:action="@{/todo}" th:method="delete">
        <input type="hidden" name="id" th:value="${todoi.id}">
        <button type="submit">삭제</button>
    </form>
</div>
</body>
</html>