<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
</head>
<body>
<div class="pricing-header pt-5 pb-3 mx-auto text-center">
    <h1 class="display-4"><span th:text="${author}"></span>'s TODO List</h1>
</div>

<div class="container" style="max-width: 350px; min-width: 350px">
    <form action="#" th:action="@{/todo}" th:object="${todo}" method="post">
        <p class="lead">Create New TODO List!</p>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{title}" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" th:field="*{content}" placeholder="Content"></textarea>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <div class="date" data-provide="datepicker">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label for="importance" class="col-form-label col-auto">중요도</label>
            <select class="custom-select col-2" id="importance" name="importance">
                <option th:each="i : ${#numbers.sequence(1,5)}"
                        th:value="${i}"
                        th:text="${i}"
                >
                </option>
            </select>
            <div>
                <button type="submit" class="btn btn-primary col-auto">작성</button>
            </div>
        </div>
    </form>
</div>

<div class="card-deck w-75 py-5 mx-auto">
    <div th:each="todo: ${todoList}" class="card my-3 mx-auto"
         th:classappend="${!todo.isDone() ? 'done' : 'bg-light'}" style="max-width: 350px; min-width: 350px">
        <div class="card-body">
            <form th:action="@{/todo}" th:method="delete">
                <span>#</span>
                <input type="text" class="border-0 w-25" name="id" th:value="${todo.id}" readonly>
                <button type="submit" class="close mb-2" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            <form action="#" th:action="@{/todo}" th:object="${todo}" th:method="put">
                <div class="form-group">
                    <input type="text" class="form-control" th:name="title" th:value="${todo.title}">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" th:name="content"
                              th:inline="text">[[${todo.content}]]</textarea>
                </div>
                <div class="form-row">
                    <input type="hidden" name="id" th:value="${todo.id}">
                    <select class="custom-select col-2" id="importance" name="importance">
                        <option th:each="i : ${#numbers.sequence(1,5)}"
                                th:value="${i}"
                                th:text="${i}"
                                th:selected="${i == todo.importance}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-primary">수정</button>
                </div>
            </form>
            <p th:text="${todo.done}"></p>
            <form th:action="@{/todo/done}" th:method="put">
                <input type="hidden" name="id" th:value="${todo.id}">
                <button type="submit" class="done btn btn-primary">완료</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>
</html>